{% extends 'shop/basic.html' %}
{% block title %}Contact Us{% endblock %}
{% block body %}
<div class="container">
    <h3>Contact Us</h3>
    <form action="/shop/contact/" method="post">{% csrf_token %}
        <label for="Name">Name : </label><br>
        <input type="text" id="name" name="name" size="100" placeholder="Enter your Name"><br><br>
        <label for="email">E-Mail Id :</label><br>
        <input type="email" id="email" name="email" size="100" placeholder="Enter your valid email"><br><br>
        <label for="phone">Mobile Number:</label><br>
        <input type="tel" id="phone" size="100" name="phone" placeholder="Enter your Mobile Number"><br><br>
        <label for="desc">Describe your views :</label><br>
        <textarea name="desc" rows="6" cols="103" id="desc" width="200" placeholder="Please describe your views in detail"></textarea><br><br><br>
        <button type="submit" class="btn btn-primary">Send Message</button>
    </form>
</div>
{% endblock %}


{% block js %}
<script>
{% if thank %}
alert('Your views/problems has been sent to us , Our team will contact you very soon');
document.location = '/shop/contact'; 
{% endif %}
</script>
{% endblock %}